{{ partial "head.html" . }}
<div class="liste">Upcoming Events</div>

{{ $i :=0 }}
{{range ((where .Site.RegularPages "Section" "events").ByParam "when")}}
    {{ if ge (dateFormat "2006-01-02" .Params.When) (dateFormat "2006-01-02" now) }}
        {{ if lt $i 10 }}
            {{ $i = add $i 1 }}
            <div class="event-container">
                <h2> <a href="{{.Permalink}}"> {{ .Params.title}}</a>
                    <br /></h2>
                <h3>{{ .Params.Label }}</h3>
                <h3>{{ dateFormat "02 January 2006" .Params.when }}</h3>
                {{ $permalink := .Permalink }}
                {{ range .Params.photos }}
                    <a href="{{ $permalink }}">
                        <img src="{{ . }}" width="auto" height="200px">
                    </a>
                {{ end }}
                {{ $eventAssociation := .Params.association }}
                {{ range where .Site.RegularPages "Section" "associations" }}
                    {{ if eq $eventAssociation .Params.title }}
                        <div><a href="{{ .Permalink }}">{{ .Params.title }}</a></div>
                    {{ end }}
                {{ end }}
                <hr />
            </div>
        {{ end }}
    {{ end }}
{{ end }}

{{ partial "footer.html" . }}