<footer>
    <div class="liste">Let's Contact Us</div>

    <div class="phone-container">
        <div class="phone-title">Call Us</div>
        <a class="phone-number" href="tel:(0033) 4 08 06 04 02">(0033) 4 08 06 04 02</a>    
    </div>

    <!--contact-->
    <form class="contact-form" method="post">
        <div>
            <label>Your email</label>
            <div>
                <input id="user_email" type="text" placeholder="">
            </div>
        </div>
        <div>
            <label>Subject</label>
            <div>
                <input id="user_subject" type="text" placeholder="" required="">
            </div>
        </div>
        <div>
            <label>Your message</label>
            <div>
                <textarea></textarea>
            </div>
        </div>
        <div>
            <label></label>
            <div>
                <button id="button_send" name="button_send">Send</button>
            </div>
        </div>
    </form>


    <div id="map"></div>
</footer>
</main>
<script>
    function openSidebar() {
        document.getElementById("sidebar").style.width = "200px";
    }
    function closeSidebar() {
        document.getElementById("sidebar").style.width = "0";
    }
</script>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = { lat: 48.85373652092578, lng: 2.312626665439666 };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 14, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBySyCU4she2Ls88f2_ivVvgoBSIMqlTqU&callback=initMap">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>