<header>
    <button class="openbtn" onclick="openSidebar()">&#9776;</button>
    <h1 class="home">Paris 7th arrondissement</h1>
    <div id="sidebar" class="sidebar">
        <a class="closebtn" onclick="closeSidebar()">&times;</a>
        <form class="search-form">
            <input id="searchbox" placeholder="Search" type="text"/>
            <input id="searchTap" value="Search" type="submit"/>           
        </form>
    <br/>
        {{range (where .Site.RegularPages "Section" "associations")}}
         {{if .Params.important}}
         <a href="{{ .Permalink }}">{{ .Params.title }}</a>
         {{ end }}
         {{ end }}
    </div>

    {{ partial "nav.html" . }}

</header>