<nav>
    <ul class="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdown-events"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Events
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-events">
                    <a class="dropdown-item" href="/events">All Events</a>
                    <a class="dropdown-item" href="/events-upcoming">Upcoming Events</a>
                    <a class="dropdown-item" href="/events-past">Archived Events</a>
                </div>
            </div>
        </li>
        <li>
            <a href="/associations">Associations</a>
        </li>
        <li>
            <a href="/conseil-municipal">Municipal Council</a>
        </li>
        <li>
            <a href="/calendar">Calendar</a>
        </li>
    </ul>
</nav>
