{{ partial "head.html" . }}
<h1 class="liste">7th arrondissement of Paris</h1>
{{ partial "presentation.html" . }}

<h1 class="liste">Council</h1>

{{range ((where .Site.RegularPages "Section" "conseil-municipal").ByParam "when").Reverse }}
    <div class="council-container">
        <a href="{{.Permalink}}"> {{ .Params.firstName}}  {{ .Params.lastName }}</a> <br/>
        <div>  {{ .Params.role }}</div>
        <a href="{{.Permalink}}"> <img src="{{ .Params.photo }}" width="auto" height="400px"></a> <br/>
    </div>
{{ end }}
{{ partial "footer.html" . }}