{{ partial "head.html" . }}
<h1 class="liste">7th arrondissement of Paris</h1>
{{ partial "presentation.html" . }}

<h1 class="liste">Council</h1>

{{range ((where .Site.RegularPages "Section" "conseil-municipal").ByParam "when").Reverse }}
    <div class="council-container">
        <div>{{ .Params.firstName}}  {{ .Params.lastName }}</div>
        <div>{{ .Params.role }}</div>
        <img src="{{ .Params.photo }}" width="auto" height="400px">
        <br/>
    </div>
{{ end }}
{{ partial "footer.html" . }}